# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Assets/Prefabs/Enviroment/Apocalyptic City 2/Ready To Use Pref.meta
Assets/Prefabs/Enviroment/Apocalyptic City 2/Ready To Use Pref/Trees.meta
Assets/Prefabs/Enviroment/Apocalyptic City 2/Ready To Use Pref/Trees/BigTree_textures.meta
Assets/Prefabs/Enviroment/Textures.meta
Assets/Prefabs/Enviroment/Textures/1.png
Assets/Prefabs/Enviroment/Textures/1.png.meta
Assets/Prefabs/Enviroment/Textures/13metal_texture_big_101030_texturepalace.png
Assets/Prefabs/Enviroment/Textures/13metal_texture_big_101030_texturepalace.png.meta
Assets/Prefabs/Enviroment/Textures/13metal_texture_big_101030_texturepalaceN.jpg
Assets/Prefabs/Enviroment/Textures/13metal_texture_big_101030_texturepalaceN.jpg.meta
Assets/Prefabs/Enviroment/Textures/2.png
Assets/Prefabs/Enviroment/Textures/2.png.meta
Assets/Prefabs/Enviroment/Textures/3.png
Assets/Prefabs/Enviroment/Textures/3.png.meta
Assets/Prefabs/Enviroment/Textures/4.png
Assets/Prefabs/Enviroment/Textures/4.png.meta
Assets/Prefabs/Enviroment/Textures/AK_Defuse.tga
Assets/Prefabs/Enviroment/Textures/AK_Defuse.tga.meta
Assets/Prefabs/Enviroment/Textures/AK_Normal.tga
Assets/Prefabs/Enviroment/Textures/AK_Normal.tga.meta
Assets/Prefabs/Enviroment/Textures/Bench_UVMap_color.png
Assets/Prefabs/Enviroment/Textures/Bench_UVMap_color.png.meta
Assets/Prefabs/Enviroment/Textures/Bench_UVMap_colorN.png
Assets/Prefabs/Enviroment/Textures/Bench_UVMap_colorN.png.meta
Assets/Prefabs/Enviroment/Textures/Bike_BMX_body_color.png
Assets/Prefabs/Enviroment/Textures/Bike_BMX_body_color.png.meta
Assets/Prefabs/Enviroment/Textures/Bike_BMX_body_nmap.png
Assets/Prefabs/Enviroment/Textures/Bike_BMX_body_nmap.png.meta
Assets/Prefabs/Enviroment/Textures/City Reflect.jpg
Assets/Prefabs/Enviroment/Textures/City Reflect.jpg.meta
Assets/Prefabs/Enviroment/Textures/Conopy_UVMap_color.png
Assets/Prefabs/Enviroment/Textures/Conopy_UVMap_color.png.meta
Assets/Prefabs/Enviroment/Textures/Conopy_UVMap_colorN.png
Assets/Prefabs/Enviroment/Textures/Conopy_UVMap_colorN.png.meta
Assets/Prefabs/Enviroment/Textures/Door_UVMap_color.png
Assets/Prefabs/Enviroment/Textures/Door_UVMap_color.png.meta
Assets/Prefabs/Enviroment/Textures/Door_UVMap_colorN.png
Assets/Prefabs/Enviroment/Textures/Door_UVMap_colorN.png.meta
Assets/Prefabs/Enviroment/Textures/Fence3.png
Assets/Prefabs/Enviroment/Textures/Fence3.png.meta
Assets/Prefabs/Enviroment/Textures/Garage_color.png
Assets/Prefabs/Enviroment/Textures/Garage_color.png.meta
Assets/Prefabs/Enviroment/Textures/Garage_colorN.png
Assets/Prefabs/Enviroment/Textures/Garage_colorN.png.meta
Assets/Prefabs/Enviroment/Textures/Grass.psd
Assets/Prefabs/Enviroment/Textures/Grass.psd.meta
Assets/Prefabs/Enviroment/Textures/Grass_UVMap_color.png
Assets/Prefabs/Enviroment/Textures/Grass_UVMap_color.png.meta
Assets/Prefabs/Enviroment/Textures/Ivy1_UVMap_color.png
Assets/Prefabs/Enviroment/Textures/Ivy1_UVMap_color.png.meta
Assets/Prefabs/Enviroment/Textures/Ivy1_UVMap_colorGloss.png
Assets/Prefabs/Enviroment/Textures/Ivy1_UVMap_colorGloss.png.meta
Assets/Prefabs/Enviroment/Textures/Ivy1_UVMap_colorN.png
Assets/Prefabs/Enviroment/Textures/Ivy1_UVMap_colorN.png.meta
Assets/Prefabs/Enviroment/Textures/Leaves.png
Assets/Prefabs/Enviroment/Textures/Leaves.png.meta
Assets/Prefabs/Enviroment/Textures/LeavesGlos.png
Assets/Prefabs/Enviroment/Textures/LeavesGlos.png.meta
Assets/Prefabs/Enviroment/Textures/LeavesN.png
Assets/Prefabs/Enviroment/Textures/LeavesN.png.meta
Assets/Prefabs/Enviroment/Textures/Low_Steps__color.png
Assets/Prefabs/Enviroment/Textures/Low_Steps__color.png.meta
Assets/Prefabs/Enviroment/Textures/Low_Steps__colorN.png
Assets/Prefabs/Enviroment/Textures/Low_Steps__colorN.png.meta
Assets/Prefabs/Enviroment/Textures/MailBox_color.png
Assets/Prefabs/Enviroment/Textures/MailBox_color.png.meta
Assets/Prefabs/Enviroment/Textures/MailBox_nmap.png
Assets/Prefabs/Enviroment/Textures/MailBox_nmap.png.meta
Assets/Prefabs/Enviroment/Textures/Next Gen.png
Assets/Prefabs/Enviroment/Textures/Next Gen.png.meta
Assets/Prefabs/Enviroment/Textures/OldCar.png
Assets/Prefabs/Enviroment/Textures/OldCar.png.meta
Assets/Prefabs/Enviroment/Textures/OldCar2.png
Assets/Prefabs/Enviroment/Textures/OldCar2.png.meta
Assets/Prefabs/Enviroment/Textures/OldCarn.png
Assets/Prefabs/Enviroment/Textures/OldCarn.png.meta
Assets/Prefabs/Enviroment/Textures/Open Oil Drum_default_Default_color.png
Assets/Prefabs/Enviroment/Textures/Open Oil Drum_default_Default_color.png.meta
Assets/Prefabs/Enviroment/Textures/Open Oil Drum_default_Default_nmap.png
Assets/Prefabs/Enviroment/Textures/Open Oil Drum_default_Default_nmap.png.meta
Assets/Prefabs/Enviroment/Textures/Path__Normal.png
Assets/Prefabs/Enviroment/Textures/Path__Normal.png.meta
Assets/Prefabs/Enviroment/Textures/Path__color.png
Assets/Prefabs/Enviroment/Textures/Path__color.png.meta
Assets/Prefabs/Enviroment/Textures/Plant1_UVMap_color.png
Assets/Prefabs/Enviroment/Textures/Plant1_UVMap_color.png.meta
Assets/Prefabs/Enviroment/Textures/Plant1_UVMap_colorGloss.png
Assets/Prefabs/Enviroment/Textures/Plant1_UVMap_colorGloss.png.meta
Assets/Prefabs/Enviroment/Textures/Plant1_UVMap_colorN.png
Assets/Prefabs/Enviroment/Textures/Plant1_UVMap_colorN.png.meta
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_color 1.png
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_color 1.png.meta
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_color 1Gloss.png
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_color 1Gloss.png.meta
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_color 1N.png
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_color 1N.png.meta
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_color 2.png
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_color 2.png.meta
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_color 2Gloss.png
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_color 2Gloss.png.meta
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_color 2N.png
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_color 2N.png.meta
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_color.png
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_color.png.meta
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_colorGloss.png
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_colorGloss.png.meta
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_colorN.png
Assets/Prefabs/Enviroment/Textures/Plant2_UVMap_colorN.png.meta
Assets/Prefabs/Enviroment/Textures/Plant3_UVMap_color.png
Assets/Prefabs/Enviroment/Textures/Plant3_UVMap_color.png.meta
Assets/Prefabs/Enviroment/Textures/Plant3_UVMap_colorGloss.png
Assets/Prefabs/Enviroment/Textures/Plant3_UVMap_colorGloss.png.meta
Assets/Prefabs/Enviroment/Textures/Plant3_UVMap_colorN.png
Assets/Prefabs/Enviroment/Textures/Plant3_UVMap_colorN.png.meta
Assets/Prefabs/Enviroment/Textures/Pool1_color.png
Assets/Prefabs/Enviroment/Textures/Pool1_color.png.meta
Assets/Prefabs/Enviroment/Textures/Pool1_colorN.png
Assets/Prefabs/Enviroment/Textures/Pool1_colorN.png.meta
Assets/Prefabs/Enviroment/Textures/PowerLine.png
Assets/Prefabs/Enviroment/Textures/PowerLine.png.meta
Assets/Prefabs/Enviroment/Textures/PowerLineN.png
Assets/Prefabs/Enviroment/Textures/PowerLineN.png.meta
Assets/Prefabs/Enviroment/Textures/Props2_color.png
Assets/Prefabs/Enviroment/Textures/Props2_color.png.meta
Assets/Prefabs/Enviroment/Textures/Props_Inner_Props_color.png
Assets/Prefabs/Enviroment/Textures/Props_Inner_Props_color.png.meta
Assets/Prefabs/Enviroment/Textures/Props_Material_color3.png
Assets/Prefabs/Enviroment/Textures/Props_Material_color3.png.meta
Assets/Prefabs/Enviroment/Textures/Reflect.png
Assets/Prefabs/Enviroment/Textures/Reflect.png.meta
Assets/Prefabs/Enviroment/Textures/Road.png
Assets/Prefabs/Enviroment/Textures/Road.png.meta
Assets/Prefabs/Enviroment/Textures/RoadN.png
Assets/Prefabs/Enviroment/Textures/RoadN.png.meta
Assets/Prefabs/Enviroment/Textures/Roof 1_Material_Normal.png
Assets/Prefabs/Enviroment/Textures/Roof 1_Material_Normal.png.meta
Assets/Prefabs/Enviroment/Textures/Roof 1_Material_color.png
Assets/Prefabs/Enviroment/Textures/Roof 1_Material_color.png.meta
Assets/Prefabs/Enviroment/Textures/RoundAbout__color.png
Assets/Prefabs/Enviroment/Textures/RoundAbout__color.png.meta
Assets/Prefabs/Enviroment/Textures/RoundAbout__nORM.png
Assets/Prefabs/Enviroment/Textures/RoundAbout__nORM.png.meta
Assets/Prefabs/Enviroment/Textures/Satalite_color.png
Assets/Prefabs/Enviroment/Textures/Satalite_color.png.meta
Assets/Prefabs/Enviroment/Textures/Satalite_nmap.png
Assets/Prefabs/Enviroment/Textures/Satalite_nmap.png.meta
Assets/Prefabs/Enviroment/Textures/Shop Face 1_Material_Hight.png
Assets/Prefabs/Enviroment/Textures/Shop Face 1_Material_Hight.png.meta
Assets/Prefabs/Enviroment/Textures/Shop Face 1_Material_Normal.png
Assets/Prefabs/Enviroment/Textures/Shop Face 1_Material_Normal.png.meta
Assets/Prefabs/Enviroment/Textures/Shop Face 1_Material_color.png
Assets/Prefabs/Enviroment/Textures/Shop Face 1_Material_color.png.meta
Assets/Prefabs/Enviroment/Textures/Shop Face 2_UVMap_Hight.png
Assets/Prefabs/Enviroment/Textures/Shop Face 2_UVMap_Hight.png.meta
Assets/Prefabs/Enviroment/Textures/Shop Face 2_UVMap_Normal.png
Assets/Prefabs/Enviroment/Textures/Shop Face 2_UVMap_Normal.png.meta
Assets/Prefabs/Enviroment/Textures/Shop Face 2_UVMap_color.png
Assets/Prefabs/Enviroment/Textures/Shop Face 2_UVMap_color.png.meta
Assets/Prefabs/Enviroment/Textures/Shop Face 3_UVMap_Hight.png
Assets/Prefabs/Enviroment/Textures/Shop Face 3_UVMap_Hight.png.meta
Assets/Prefabs/Enviroment/Textures/Shop Face 3_UVMap_Normal.png
Assets/Prefabs/Enviroment/Textures/Shop Face 3_UVMap_Normal.png.meta
Assets/Prefabs/Enviroment/Textures/Shop Face 3_UVMap_color.png
Assets/Prefabs/Enviroment/Textures/Shop Face 3_UVMap_color.png.meta
Assets/Prefabs/Enviroment/Textures/Shop Props_Material_color.png
Assets/Prefabs/Enviroment/Textures/Shop Props_Material_color.png.meta
Assets/Prefabs/Enviroment/Textures/Shop1 Inner_Shop1_Inner_Norm.png
Assets/Prefabs/Enviroment/Textures/Shop1 Inner_Shop1_Inner_Norm.png.meta
Assets/Prefabs/Enviroment/Textures/Shop1 Inner_Shop1_Inner_color.png
Assets/Prefabs/Enviroment/Textures/Shop1 Inner_Shop1_Inner_color.png.meta
Assets/Prefabs/Enviroment/Textures/Slabs__N.png
Assets/Prefabs/Enviroment/Textures/Slabs__N.png.meta
Assets/Prefabs/Enviroment/Textures/Slabs__color.png
Assets/Prefabs/Enviroment/Textures/Slabs__color.png.meta
Assets/Prefabs/Enviroment/Textures/Stairs__color.png
Assets/Prefabs/Enviroment/Textures/Stairs__color.png.meta
Assets/Prefabs/Enviroment/Textures/Stairs__colorN.png
Assets/Prefabs/Enviroment/Textures/Stairs__colorN.png.meta
Assets/Prefabs/Enviroment/Textures/Statue_UVMap_color.png
Assets/Prefabs/Enviroment/Textures/Statue_UVMap_color.png.meta
Assets/Prefabs/Enviroment/Textures/Statue_UVMap_nmap.png
Assets/Prefabs/Enviroment/Textures/Statue_UVMap_nmap.png.meta
Assets/Prefabs/Enviroment/Textures/Suburb House Door1_Door1_color.png
Assets/Prefabs/Enviroment/Textures/Suburb House Door1_Door1_color.png.meta
Assets/Prefabs/Enviroment/Textures/Suburb House Door1_Door1_colorN.png
Assets/Prefabs/Enviroment/Textures/Suburb House Door1_Door1_colorN.png.meta
Assets/Prefabs/Enviroment/Textures/Suburb House Side_Suburb_House_Side_color.png
Assets/Prefabs/Enviroment/Textures/Suburb House Side_Suburb_House_Side_color.png.meta
Assets/Prefabs/Enviroment/Textures/Suburb House Sky_Suburb_House_Sky_color.png
Assets/Prefabs/Enviroment/Textures/Suburb House Sky_Suburb_House_Sky_color.png.meta
Assets/Prefabs/Enviroment/Textures/Suburb House_Material_color2N.png
Assets/Prefabs/Enviroment/Textures/Suburb House_Material_color2N.png.meta
Assets/Prefabs/Enviroment/Textures/Suburb Lamp__color.png
Assets/Prefabs/Enviroment/Textures/Suburb Lamp__color.png.meta
Assets/Prefabs/Enviroment/Textures/Suburb Lamp__nmap.png
Assets/Prefabs/Enviroment/Textures/Suburb Lamp__nmap.png.meta
Assets/Prefabs/Enviroment/Textures/Suburb_House_Side_colorN.png
Assets/Prefabs/Enviroment/Textures/Suburb_House_Side_colorN.png.meta
Assets/Prefabs/Enviroment/Textures/Suburb_House_Sky_colorN.png
Assets/Prefabs/Enviroment/Textures/Suburb_House_Sky_colorN.png.meta
Assets/Prefabs/Enviroment/Textures/Swing__Norm.png
Assets/Prefabs/Enviroment/Textures/Swing__Norm.png.meta
Assets/Prefabs/Enviroment/Textures/Swing__color.png
Assets/Prefabs/Enviroment/Textures/Swing__color.png.meta
Assets/Prefabs/Enviroment/Textures/Tex_0010_1.png
Assets/Prefabs/Enviroment/Textures/Tex_0010_1.png.meta
Assets/Prefabs/Enviroment/Textures/Tex_0010_1N.jpg
Assets/Prefabs/Enviroment/Textures/Tex_0010_1N.jpg.meta
Assets/Prefabs/Enviroment/Textures/Trash_can__color.png
Assets/Prefabs/Enviroment/Textures/Trash_can__color.png.meta
Assets/Prefabs/Enviroment/Textures/Trash_can__nmap.png
Assets/Prefabs/Enviroment/Textures/Trash_can__nmap.png.meta
Assets/Prefabs/Enviroment/Textures/TreeBed_color.png
Assets/Prefabs/Enviroment/Textures/TreeBed_color.png.meta
Assets/Prefabs/Enviroment/Textures/TreeBed_colorN.png
Assets/Prefabs/Enviroment/Textures/TreeBed_colorN.png.meta
Assets/Prefabs/Enviroment/Textures/Wagon_UVMap_color.png
Assets/Prefabs/Enviroment/Textures/Wagon_UVMap_color.png.meta
Assets/Prefabs/Enviroment/Textures/Wagon_UVMap_colorN.png
Assets/Prefabs/Enviroment/Textures/Wagon_UVMap_colorN.png.meta
Assets/Prefabs/Enviroment/Textures/Wall Leaf1_UVMap_color 1.png
Assets/Prefabs/Enviroment/Textures/Wall Leaf1_UVMap_color 1.png.meta
Assets/Prefabs/Enviroment/Textures/Wall Leaf1_UVMap_color 1N.png
Assets/Prefabs/Enviroment/Textures/Wall Leaf1_UVMap_color 1N.png.meta
Assets/Prefabs/Enviroment/Textures/Wall Leaf1_UVMap_color 1S.png
Assets/Prefabs/Enviroment/Textures/Wall Leaf1_UVMap_color 1S.png.meta
Assets/Prefabs/Enviroment/Textures/Wall1N.png
Assets/Prefabs/Enviroment/Textures/Wall1N.png.meta
Assets/Prefabs/Enviroment/Textures/Wall1__color.png
Assets/Prefabs/Enviroment/Textures/Wall1__color.png.meta
Assets/Prefabs/Enviroment/Textures/Wall2__color.png
Assets/Prefabs/Enviroment/Textures/Wall2__color.png.meta
Assets/Prefabs/Enviroment/Textures/Wall2__colorN.png
Assets/Prefabs/Enviroment/Textures/Wall2__colorN.png.meta
Assets/Prefabs/Enviroment/Textures/WhiteFlowers.psd
Assets/Prefabs/Enviroment/Textures/WhiteFlowers.psd.meta
Assets/Prefabs/Enviroment/Textures/Wood Fence_Wood__Fence_color.png
Assets/Prefabs/Enviroment/Textures/Wood Fence_Wood__Fence_color.png.meta
Assets/Prefabs/Enviroment/Textures/Wood__Fence_colorN.png
Assets/Prefabs/Enviroment/Textures/Wood__Fence_colorN.png.meta
Assets/Prefabs/Enviroment/Textures/bark.png
Assets/Prefabs/Enviroment/Textures/bark.png.meta
Assets/Prefabs/Enviroment/Textures/barkN.png
Assets/Prefabs/Enviroment/Textures/barkN.png.meta
Assets/Prefabs/Enviroment/Textures/diff 2.tga
Assets/Prefabs/Enviroment/Textures/diff 2.tga.meta
Assets/Prefabs/Enviroment/Textures/diff 21.tga
Assets/Prefabs/Enviroment/Textures/diff 21.tga.meta
Assets/Prefabs/Enviroment/Textures/diffn.tga
Assets/Prefabs/Enviroment/Textures/diffn.tga.meta
Assets/Prefabs/Enviroment/Textures/diffuse.png
Assets/Prefabs/Enviroment/Textures/diffuse.png.meta
Assets/Prefabs/Enviroment/Textures/fence.png
Assets/Prefabs/Enviroment/Textures/fence.png.meta
Assets/Prefabs/Enviroment/Textures/fenceN.png
Assets/Prefabs/Enviroment/Textures/fenceN.png.meta
Assets/Prefabs/Enviroment/Textures/fenceS.png
Assets/Prefabs/Enviroment/Textures/fenceS.png.meta
Assets/Prefabs/Enviroment/Textures/grass__10_.png
Assets/Prefabs/Enviroment/Textures/grass__10_.png.meta
Assets/Prefabs/Enviroment/Textures/london5_Material_002_color.png
Assets/Prefabs/Enviroment/Textures/london5_Material_002_color.png.meta
Assets/Prefabs/Enviroment/Textures/london5_Material_002_colorN.png
Assets/Prefabs/Enviroment/Textures/london5_Material_002_colorN.png.meta
Assets/Prefabs/Enviroment/Textures/metal Gate__color.png
Assets/Prefabs/Enviroment/Textures/metal Gate__color.png.meta
Assets/Prefabs/Enviroment/Textures/metal Gate__colorN.png
Assets/Prefabs/Enviroment/Textures/metal Gate__colorN.png.meta
Assets/Prefabs/Enviroment/Textures/normal_specular.png
Assets/Prefabs/Enviroment/Textures/normal_specular.png.meta
Assets/Prefabs/Enviroment/Textures/shadow.png
Assets/Prefabs/Enviroment/Textures/shadow.png.meta
Assets/Prefabs/Enviroment/Textures/suburb house.png
Assets/Prefabs/Enviroment/Textures/suburb house.png.meta
Assets/Prefabs/Enviroment/Textures/translucency_gloss.png
Assets/Prefabs/Enviroment/Textures/translucency_gloss.png.meta
Assets/SourceArt/Textures/
Assets/Prefabs/Enviroment/BigTree_Textures/normal_specular.png.meta
Assets/Prefabs/Enviroment/BigTree_Textures/shadow.png
Assets/Prefabs/Enviroment/BigTree_Textures/shadow.png.meta
Assets/Prefabs/Enviroment/BigTree_Textures/translucency_gloss.png
Assets/Prefabs/Enviroment/BigTree_Textures/translucency_gloss.png.meta
Assets/Prefabs/Enviroment/BigTree_Textures/normal_specular.png
